@-moz-keyframes button-spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes button-spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes button-spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}